//
// LOGO

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

// Search

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  // This property is important for the container to grow out to the sides when we focus the search container
  justify-content: center;

  // background-color: var(--color-grey-light-1);
  &__input {
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: var(--color-grey-light-2);
    padding: 0.7rem 2rem;
    border-radius: 100rem;
    color: inherit;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::placeholder {
      font-weight: 200;
      color: var(--color-grey-light-4);
    }
  }

  &__button {
    border: none;
    background: transparent;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-dark-3);
  }
}

// User Nav

.user-nav {
  display: flex;
  // Note the double use
  align-self: stretch;
  align-items: stretch;

  // Selects all direct children of user.nav
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    // This is needed for hover effect to apply to entire box - or you can use align items stretch on .user-nav
    // height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    background-color: var(--color-primary);
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.8rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: var(--color-white);
  }

  &__user {
    gap: 1.2rem;
  }

  &__user-photo {
    width: 3.75rem;
    border-radius: 50%;
  }
}

// Sidebar Nav

.sidebar-nav {
  // height: 50rem;
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;
  color: var(--color-white);
  list-style: none;
  font-size: 1.6rem;
  text-transform: uppercase;

  &__item {
    background-color: green;
    padding: 1.2rem 0;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--color-white);
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-white);
  }
}

// Legal text
.copyright {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
}
