//
// LOGO

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

// Search

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  // This property is important for the container to grow out to the sides when we focus the search container
  justify-content: center;

  // background-color: var(--color-grey-light-1);
  &__input {
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: var(--color-grey-light-2);
    padding: 0.7rem 2rem;
    border-radius: 100rem;
    color: inherit;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::placeholder {
      font-weight: 200;
      color: var(--color-grey-light-4);
    }
  }

  &__button {
    border: none;
    background: transparent;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-dark-3);
  }
}

// User Nav

.user-nav {
  display: flex;
  // Note the double use
  align-self: stretch;
  align-items: stretch;

  // Selects all direct children of user.nav
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    // This is needed for hover effect to apply to entire box - or you can use align items stretch on .user-nav
    // height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    background-color: var(--color-primary);
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.8rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: var(--color-white);
  }

  &__user {
    gap: 1.2rem;
  }

  &__user-photo {
    width: 3.75rem;
    border-radius: 50%;
  }
}

// Sidebar Nav

.sidebar-nav {
  margin-top: 3.5rem;
  color: var(--color-white);
  list-style: none;
  font-size: 1.4rem;
  text-transform: uppercase;

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    // Changes where the scale starts
    // transform-origin: bottom;
    // specifying the width to transform at a slower rate with delay - different setting for different properties
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
    z-index: 1;
  }

  &__item:hover::before,
  &__item--active::before {
    // scale only occurs in Y direction
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    position: relative;
    z-index: 1000;
    text-decoration: none;
    color: var(--color-greylight-1);
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    // currentColor is the color of the current element or the parent element
    fill: currentColor;
    margin-right: 2rem;
  }
}

// Legal text
.copyright {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
}

// Hotel View

// Img Gallery

.gallery {
  display: flex;
  &__img {
    width: 100%;
    // Eliminates the small space below the image when left as an inline element
    display: block;
  }
}

.hotel-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  border-bottom: var(--border-bottom-grey);
  // padding: 0.5rem 1.8rem;
  &__heading {
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    padding: 1.3rem 3rem;
  }

  &__stars {
    // flex: 1;
    // Setting the margin-right to auto is better than setting flex grow to 1 in this case because it pushes the stars to the left but also makes the stars only take up their space and not the remaining space as flex grow would do.
    margin-right: auto;

    // Change to flex container to eliminate default line height
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
  }

  &__rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    align-self: stretch;
    padding: 0.2rem 2.25rem;

    & > * {
      height: 100%;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -0.3rem;
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

// BUTTON Inline
.btn-inline {
  font-family: inherit;
  font-size: inherit;
  color: var(--color-primary);
  font-weight: 700;
  border: none;
  background-color: transparent;
  border-bottom: 0.1rem solid currentColor;
  cursor: pointer;
  padding-bottom: 0.2rem;
  display: inline-block;
  transition: all 0.2s;

  // This span element is for the 'Show all' button below the reviews section
  & span {
    margin-left: 0.3rem;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 0.8rem;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

// Paragraph

// last of type is last of <p> element in this div
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

// List

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--border-bottom-grey);
  border-bottom: var(--border-bottom-grey);
  display: flex;
  flex-wrap: wrap;
  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;

    // Older browsers
    // background-image: url(../img/chevron-thin-right.svg);
    // background-size: cover;

    // Newer browsers - masks
    background-color: var(--color-primary);
    mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
  }
}

// Recommend

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;
  &__count {
    margin-right: auto;
  }

  &__friends {
  }

  &__photo {
    // This is why it is sometimes necessary to inherit border box - this way the images stay the same size instead of including the border
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 0.3rem solid var(--color-white);
    &:not(:last-child) {
      margin-right: -1.5rem;
    }
    margin-left: auto;
  }
}

// User Reviews

.review {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: 3.5rem;
  }

  &__text {
    z-index: 100;
    position: relative;
  }

  &__user-info {
    display: flex;
    align-items: center;
  }

  &__user-details {
    margin-right: auto;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-name {
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__score {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--color-primary);
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    line-height: 1;
    font-family: sans-serif;
    z-index: 1;
  }
}

.cta-section {
  &__heading {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }

  &__button {
    border: none;
    border-radius: 5rem;
    display: inline-block;
    padding: 1.4rem 4.2rem;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    cursor: pointer;
  }
}
